
nav {
  @media screen and (max-width: $tablet2) {
    background-color: $medium;
    display: none;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: $tablet2) {
    display: block;
    list-style-type: none;
    padding: 22px 0 88px 15px;
  }

  li {
    display: inline-block;
    @media screen and (max-width: $tablet2) {
      padding-bottom: 50px;
      display: block;
    }
  }
  a {
    text-decoration: none;
    color: $dark;
    @media screen and (max-width: $tablet2) {
      font-size: 18px;
    }
  }
}

#burger,
[for="burger"] {
  display: none;
}

[for="burger"] {
  @media screen and (max-width: $tablet2) {
    display: block;
    width: 30px;
    text-align: center;
    padding-left: 15px;
    padding-top: 15px;
  }
}

[for="burger"]::before {
  @media screen and (max-width: $tablet2) {
    content: url(../img/header_menu/List.svg);
  }
}

#burger:checked + label + nav {
  @media screen and (max-width: $tablet2) {
    display: block;
    animation: show 0.5s ease;
  }
}

#burger:checked + [for="burger"]::before {
  @media screen and (max-width: $tablet2) {
    content: url(../img/header_menu/close.svg);
  }
}


  @media screen and (max-width: $tablet2) {
    @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
